<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ecom-web-application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.listener.myListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.controller.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPass</display-name>
    <servlet-name>ForgetPass</servlet-name>
    <servlet-class>com.controller.ForgetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPass</servlet-name>
    <url-pattern>/ForgetPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPassword</display-name>
    <servlet-name>SetPassword</servlet-name>
    <servlet-class>com.controller.SetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPassword</servlet-name>
    <url-pattern>/SetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPanel</display-name>
    <servlet-name>AdminPanel</servlet-name>
    <servlet-class>com.controller.AdminPanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPanel</servlet-name>
    <url-pattern>/AdminPanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.controller.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleProductDetail</display-name>
    <servlet-name>SingleProductDetail</servlet-name>
    <servlet-class>com.controller.SingleProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleProductDetail</servlet-name>
    <url-pattern>/SingleProductDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.controller.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.controller.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.controller.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdSelectUpdateProduct</display-name>
    <servlet-name>IdSelectUpdateProduct</servlet-name>
    <servlet-class>com.controller.IdSelectUpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdSelectUpdateProduct</servlet-name>
    <url-pattern>/IdSelectUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.controller.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>com.controller.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategory</display-name>
    <servlet-name>DeleteCategory</servlet-name>
    <servlet-class>com.controller.DeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategory</servlet-name>
    <url-pattern>/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enquiry</display-name>
    <servlet-name>Enquiry</servlet-name>
    <servlet-class>com.controller.Enquiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enquiry</servlet-name>
    <url-pattern>/Enquiry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerEnquiry</display-name>
    <servlet-name>DeleteCustomerEnquiry</servlet-name>
    <servlet-class>com.controller.DeleteCustomerEnquiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerEnquiry</servlet-name>
    <url-pattern>/DeleteCustomerEnquiry</url-pattern>
  </servlet-mapping>
</web-app>